!!! 5
html
    head(lang='en')
        meta(charset='UTF-8')
        title Poker Game
        link(type='text/css', href='css/bootstrap.css', rel='stylesheet')
        link(type='text/css', href='css/bootstrap.css', rel='stylesheet')
    body
        #mainContainer.container-fluid
            for (var i=0; i<10; i++)


